<md-card class="center-form login_form">
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <md-card-title>Login</md-card-title>
        <md-card-content>
            <md-list>
               <md-list-item>
                   <md-input-container class="full-width">
                       <input md-input type="email" placeholder="E-mail" name="username" [(ngModel)]="model.username" #username="ngModel" required/>
                   </md-input-container>
                   <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
               </md-list-item>
               <md-list-item>
                   <md-input-container class="full-width">
                       <input md-input type="password" placeholder="Favorite food" name="password" [(ngModel)]="model.password" #password="ngModel" required/>
                   </md-input-container>
                   <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
               </md-list-item>
           </md-list>
       </md-card-content>
       <md-card-actions>
           <button md-raised-button [disabled]="loading">Login</button>
           <a md-button [routerLink]="['/register']">Register</a>
       </md-card-actions>
       <div class="spinner">
           <md-spinner *ngIf="loading"></md-spinner>
       </div>
   </form>
</md-card>

<div class="make_register">
  <a md-raised-button [routerLink]="['/form']" class="full-width">Register form</a>
</div>