<md-sidenav-container>
	<md-sidenav #sidenav mode="side" class="sidebar"  opened="true">
        <md-toolbar>
            <span>Меню</span>
        </md-toolbar>
        <md-nav-list>
            <md-list-item [routerLink]="['/']">
                <span md-line>Новые анкеты</span>
                <button md-icon-button>
                    <md-icon>fiber_new</md-icon>
                </button>
            </md-list-item>
            <md-list-item [routerLink]="['/db']">
                <span md-line>Рабочая база</span>
                <button md-icon-button>
                    <md-icon>account_box</md-icon>
                </button>
            </md-list-item>
            <md-list-item [routerLink]="['/archive']">
                <span md-line>Архив</span>
                <button md-icon-button>
                    <md-icon>folder_shared</md-icon>
                </button>
            </md-list-item>
        </md-nav-list>
	</md-sidenav>

	<md-toolbar color="primary">
		<button md-button (click)="sidenav.toggle()">
			<i class="material-icons app-toolbar-menu">menu</i>
		</button>

		<a class="brand" [routerLink]="['/']">Sushivesla HR</a>
	</md-toolbar>

	<alert></alert>
	<router-outlet></router-outlet>
	<!-- primary content -->
</md-sidenav-container>